body {
  margin: 0;
    font-family: Arial, "Courier New";
  background-color:#333;
 }
.header{
    width: 650px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
   justify-content: space-between;
    margin-top: 15px;
}
.header_sub{
    width: 200px;
    font-size: 17px;
    margin-bottom: 40px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 16px;
    color: blanchedalmond;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;

}
a:focus{
    border-bottom: 2px solid white;
}


h1, h3 {
    text-align: center;
    margin: auto;
    color: white;

}
h1{
    margin-top: 300px;
}
h3{
    width: 600px;
    padding-top: 10px;
}
.button_1{
    width: 140px;
    margin: auto;
    margin-top: 20px;
}
button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin: auto;
    border: none;
    text-align: center;
    align-items: center;
}
.cont_button{
    width: 300px;
    margin: auto;
    display:flex;
}

.cont_butt{
    color: black;
}
.error{
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
}

